In [ ]:
# 1.	If  name = ''' Hi How are you?
# Starterd learning python.
# It's really interesting.''' Then what is the output of following code
# •	name[:] 
# •	name[-10:-5]
# •	name[3:12]
# •	name[12:3]
# •	name[5,6]
# •	name[-4:-12]
# •	name[::2]
# •	name[::-2]


        # name = ''' Hi How are you?
        # # Starterd learning python.
        # # It's really interesting.'''

        # # print(name[:] )
        # # print(name[-10:-5] )
        # #print(name[3:12] )
        # #print(name[12:3] )
        # #print(name[5,6])
        # #print(name[-4:-12])
        # #print(name[::2])
        # #print(name[::-2])
        
        
        
#------------------------------------

# 2.	 L1 = [‘a’ , ‘b’, 20, 30, ‘t’, 100, 300, 400, ‘Happy’, ‘major’]
# a.	L1[:]
# b.	L1[::3]
# c.	L1[::-2]
# d.	How to extract  value “Happy” based on index and negative index
# e.	How to check type of data in list at 4th position
# f.	Extract values for 100, 300, 400 


                # l1=['a','b',20,30,'t',100,300,400,'Happy','major']
                # print(l1[:])
                # print(l1[::3])
                # print(l1[::-2])
                # print(l1[8])
                # print(l1[-2])

                # print(type(l1[4]))
                # print(l1[5:8])
                
                
                
                
                
                
#-----------------------------------------


# 3.	If l2 =[1,2,3,5,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”] then what is the output of following
# •	L2[4]
# •	L2[1:5]
# •	L2[7]
# •	L2[7][2]
# •	L7[7][2:]
# •	L2[ : 3]
# •	L2[3:]


l2 =[1,2,3,5,['a', 'b', 'work hard'],100 , 200, 'Success']

        # print(l2[4] )
        # print(l2[1:5])
        # print(l2[7])
        # print(l2[7][2])
        # print(l2[7][2:])
        # print(l2[ : 3])
        # print(l2[3:])
                        
                        
# 4.	From the above l2 value ‘b’ must be changed to ‘BEE’.

                # l2[4][1]= 'BEE'
                # print(l2)                
                                
                # l2[4].remove('BEE')
                # print(l2)                

                
# 6.In l2 add a dictionary at the end {‘insect’: [‘bee’, ‘moth’] , ‘bird’ : [‘parrot’, ‘sparrow’]}                
                
            # D1 ={'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']}     

            # l2.append(D1) 
            # print(l2)



#7.	From l2 extract insect information.
        # print(l2[-1]['insect'])
                
                
                
#8.	Create a dictionary d1 = {‘a’:10, ‘b’:20, ‘c’ : 30} and add the d1 at 2nd position of l2

        # D2 = {'a':10 ,'b':20 ,'c':30}

        # l2.insert(2,D2)
        # print(l2)



# 9.Based on new l2 created here extract the value 10 from l2 dictionary.
                
            # print(l2[2]['a'])






# 10.	If l2 =[1,2,3,5, (90,40,50,10), ‘Python’, 400 ,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”, (200,300, “Hundreds”)] then what is the output of following
# •	L2[4][2]
# •	L2[5][:]
# •	L2[2] [:]
# •	L2[1:5]
# •	L2[5]
# •	L2[5][3:-1]
# •	L2[-1]
# •	L2[-4, -3]
# •	L2[-4: -10]
# •	L2[7][2]
# •	L7[-7][[2:]
# •	L2[ :- 3]
# •	L2[-3:]


            # L3 =[1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, 'Success', (200,300, 'Hundreds')]
            # print(L3[4][2])
            # print(L3[5][:])
            # #print(L3[2][:])
            # print(L3[1:5])
            # print(L3[5])
            # print(L3[5][3:-1])
            # print(L3[-1])
            # print(L3[-4:-3])
            # print(L3[-4: -10])
            # print(L3[7][2])
            # print(L3[-7][2:])
            # print(L3[ :- 3])
            # print(L3[-3:])

In [48]:
# 11.	Create one list l1 having two elements and l3 having 7 elements. Now at 4th position add l1 

l1 =[1,2]
l2 =[7,4,5,6,1,2,3]

l2 [2]=[l1]
l2

[7, 4, [[1, 2]], 6, 1, 2, 3]

In [77]:
# 12.	Collection is the list having values [1,2,3,[‘a’, ‘b’, ‘c’], 100, ‘Nisha’, 20.50, 90.10 ]
# if the data is in integer or float then multiply with 5.  
#•	From the collection delete the record for “Nisha” 
#•	Find the location of 20.50 

list1 = [1,2,3,['a','b','c'],100,'Nisha',20.05,90.10]
try :

    print(list1.index(20.05))

    for i in range(len(list1)):
        if isinstance(list1[i],(int ,float)) :
            list1[i] = list1[i]*5
            
except Exception:
    print("Unknown Exception")
        
print(list1)

list1.remove("Nisha")

print(list1)

6
[5, 10, 15, ['a', 'b', 'c'], 500, 'Nisha', 100.25, 450.5]
[5, 10, 15, ['a', 'b', 'c'], 500, 100.25, 450.5]

In [50]:
# 13.	Create a comprehensive list for square upto 10 

squares = {i: i*i for i in range(1, 11)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [51]:
# 14.	Create the comprehensive list to find number divisible by 13 till 200

div = [i for i in range(1, 201) if i % 13 == 0]
print(div)

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [52]:
# 15.	Create the list which is divisible by 4 from 300 to 400  

div_4 = [i for i in range(300, 401) if i % 4 == 0]
print(div_4)

[300, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400]

In [53]:
#16.	Create a comprehensive list to generate list up to x, y as a number. For example if x = 3 list will be x_list = [0,1,2] and y=2 then y_list =[0,1]
# Then generate a new list based on all combination of x and y.
# For example: if x = 1 and y =2  then x_list = [0] and y_list = [0,1]
# And output will be [[0,0],[0,1]]

# If x=2 and y = 2 then output will be [[0,0],[0,1][1,0],[1,1]]


x = 2
y = 2

result = [[i, j] for i in range(x) for j in range(y)]
print(result)

[[0, 0], [0, 1], [1, 0], [1, 1]]

In [ ]:
# 17
# Type Casting 
# .	Create a=100 
# •	Convert a to string 
# •	Convert a to list    
# •	Convert a to tuple  
# •	Convert a to dict 
# •	Convert a to set 
# •	Convert to float 
# Observe the errors and note it down for all conversions. 
a =100
str_a = str(a)
print(str_a, type(str_a))

100 <class 'str'>

In [34]:
list_a = [int(x) for x in str(a)]
print(list_a)

[1, 0, 0]

In [29]:
tuple_a = tuple(str(a))
print(tuple_a)

('1', '0', '0')

In [30]:
dict_a = dict([("number", a)])
print(dict_a)

{'number': 100}

In [31]:
set_a = set(str(a))
print(set_a)

{'0', '1'}

In [32]:
float_a = float(a)
print(float_a, type(float_a))

100.0 <class 'float'>

In [36]:
#8.	Create city = “Pune” 
# •	Convert to int     
# •	Convert float 
# •	Convert list  
# •	Convert tuple 
# •	Convert dict 
# •	Convert set 
# •	Obsert errors and note it down for all conversions 


city = "Pune"

print("Original value:", city, type(city))

Original value: Pune <class 'str'>

In [52]:

int_city = int(city)
print("Result:", int_city)

ValueError: invalid literal for int() with base 10: 'Pune'

In [47]:
float_city = float(city)
print("Result:", float_city)

ValueError: could not convert string to float: 'Pune'

In [49]:
list_city = list(city)
print("Result:", list_city)
print("Type:", type(list_city))

TypeError: 'str' object is not callable

In [ ]:

tuple_city = tuple(city)
print("Result:", tuple_city)
print("Type:", type(tuple_city))

4. Convert to tuple
Result: ('P', 'u', 'n', 'e')
Type: <class 'tuple'>

In [44]:


dict_city = dict(city)
print("Result:", dict_city)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [53]:

set_city = set(city)
print("Result:", set_city)
print("Type:", type(set_city))

Result: {'P', 'u', 'e', 'n'}
Type: <class 'set'>

In [22]:
# 25.	Ask user to enter the name and DOB and generate 
# the password based on first name 4 characters and  last 4 digits of DOB or year @yyyy. 
# For example name = SURESH and DOB = 05-05-1978 then password will be SURE@1978 

name = input("Enter name: ").upper()
dob = input("Enter DOB (DD-MM-YYYY): ")

password = name[:4] + "@" + dob[-4:]
print("Password:", password)

Password: KAUS@2002

In [55]:
# 26
for i in range(1, 5):
    print("* " * i)

*
* *
* * *
* * * *

In [56]:
# 27

for i in range(4, 0, -1):
    print("*" * i)

****
***
**
*

In [ ]:
# 28

val = "ABCD"

for i in range(len(val)):
    print(" ".join(val[:i+1]))

A
A B
A B C
A B C D

In [58]:
# 29

val = "ABCD"

for i in range(len(val)):
    print(val[i] * (i + 1))

A
BB
CCC
DDDD

In [59]:
# 30

for i in range(1, 5):
    print(str(i) * i)

1
22
333
4444

In [60]:
# 31

s = input("Enter string: ")
rev = s[::-1]

for i in range(len(rev)):
    print(rev[:i+1])

v
vd
vdb
vdbs
vdbsh
vdbshv
vdbshvb
vdbshvbd
vdbshvbds

In [21]:
# 32.	Val = “ABCD”  based on the Val, create the format mentioned below
# D
# DC
# DCB
# DCBA

Val = "ABCD"

rev = Val[::-1]

for i in range(len(rev)):
    print(rev[:i+1])

D
DC
DCB
DCBA

In [62]:
# 33.	Create a list of odd numbers from 1 to 10
# 1.	Using for loop
# 2.	Using comprehensive list


odd_numbers = []

for i in range(1, 11):
    if i % 2 != 0:
        odd_numbers.append(i)

print(odd_numbers)

[1, 3, 5, 7, 9]

In [63]:
# 34.	Create even number list using for loop from 200 to 250

even_numbers = []

for i in range(200, 251):
    if i % 2 == 0:
        even_numbers.append(i)

print(even_numbers)

[200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250]

In [64]:
# 35.	List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
#       Multiply each and every element by 2 and display the answer

List2 = [2, 70, 'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3, 10, 302.5]

result = []

for item in List2:
    if isinstance(item, (int, float)):
        result.append(item * 2)

    elif isinstance(item, str):
        result.append(item * 2)

    elif isinstance(item, list):
        result.append(item * 2)

    elif isinstance(item, tuple):
        result.append(item * 2)

    elif isinstance(item, set):
        result.append(item)   

    elif isinstance(item, dict):
        new_dict = {}
        for k, v in item.items():
            if isinstance(v, (int, float)):
                new_dict[k] = v * 2
            else:
                new_dict[k] = v
        result.append(new_dict)

print(result)

[4, 140, 'workwork', 'parapara', 5.0, [1, 2, 3, 1, 2, 3], (1, 2, 1, 2), {1, 2}, {1: 'a', 2: 'b'}, 6, 20, 605.0]

In [ ]:
# 37.	Create a function to accept marks from user utilize exception concept to validate proper marks.

print(" HELLO Student  ")   # ****************************
def get_marks():
    try:
        marks = float(input("Enter your marks: "))

        if marks < 0 or marks > 100:
            raise ValueError   
        return marks

    except ValueError:
        return "Invalid marks! Enter value between 0 and 100"


result = get_marks()
print(result)

 HELLO Student
50.0

In [ ]:
# 38.	Create a function to validate user first name/last name. 
# User first name/last name should contain only characters. 
# No special characters, numbers, space in name 
Name = input("Enter Your First Name : ")

def Validate_Name(Name): #********************************************
    try:
        if not Name.isalpha():
            raise ValueError
        return "Valid Input"

    except ValueError:
        return "Invalid Input"
    except :
        print(sys.exc_info())


response = Validate_Name(Name)
print(response)

Valid Input